@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    background-color: white !important;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  #tabla-horario {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 8px; /* Reducir el tamaño de la fuente si es necesario */
    page-break-inside: avoid; /* Evita que la tabla se divida entre páginas */
  }

  #tabla-horario th, #tabla-horario td {
    border: 1px solid #dee2e6;
    padding: 4px; /* Reducir padding para ahorrar espacio */
  }

  #tabla-horario th {
    font-size: 10px;
  }

  /* Evitar cualquier salto de página dentro de la tabla */
  tr, td, th {
    page-break-inside: avoid !important;
  }

  /* Ajustar escala para que entre en una sola página */
  @page {
    size: Letter portrait; /* Forzar impresión en horizontal */
  }
}


body {
  background-color: white !important; /* Evita fondos grises */
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#tabla-horario {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin: auto;
  font-size: 10px;
  text-align: center;
  background: #f8f9fa;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tabla-horario th, #tabla-horario td {
  border: 1px solid #dee2e6;
}

#tabla-horario th {
  background: Maroon;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

#tabla-horario tr:nth-child(even) {
  background: #e9ecef;
}

.td-materia:not(:empty):hover,
#tabla-horario tr:hover {
  background: #F4C3CD;
  transition: background 0.3s ease-in-out;
}

.td-materia:not(:empty) {
  background-color: #E5A6B1;
}

.p-profesor i {
  font-size: 8px;
}

.td-hora {
  font-size: 14px;
}

.export-buttons:hover {
  cursor: pointer;
}

.input-edificios,
.input-salones {
  width: 40px;
  font-size: 8px;
  margin: 2px;
}